<div class="signin-content image"  >
    <mat-card class="mat-elevation-z10 fade-in-login">
      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <h1>Sistema de Encuestas - FISI</h1>
          <p>Por favor inicie sesión para continuar</p>
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Usuario" formControlName="userName" required>
            <mat-icon matSuffix>person</mat-icon>
            <mat-error *ngIf="isFieldInvalid('userName')">
              Debe escribir un nombre de usuario
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width-input">
            <input matInput type="password" placeholder="Contraseña" formControlName="password" required>
            <mat-icon matSuffix>vpn_key</mat-icon>
            <mat-error *ngIf="isFieldInvalid('password')">
              Debe escribir una contraseña
            </mat-error>
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit">Iniciar Sesión</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>