<div class="animated fadeIn fast">
    <mat-grid-list cols="12" rowHeight="300px">
        <mat-grid-tile [colspan]="12">
            <mat-card>
                <app-barra-expectativa></app-barra-expectativa>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="4">
            <mat-card>
                <app-g-pie></app-g-pie>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="4">
            <mat-card>
                <app-barra-conformidad></app-barra-conformidad>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="4">
            <mat-card>
                <app-g-total></app-g-total>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>