<div class="animated fadeIn fast">
    <mat-grid-list cols="12" rowHeight="300px">
        <mat-grid-tile [colspan]="6">
            <mat-card>
                <app-b-expectativa></app-b-expectativa>
                <!-- <app-barra-expectativa [expectativaPorPregunta]= "expectativaPorPregunta"></app-barra-expectativa> -->
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="6">
            <mat-card>
                <app-b-percepcion></app-b-percepcion>
                <!-- <app-barra-expectativa [expectativaPorPregunta]= "expectativaPorPregunta"></app-barra-expectativa> -->
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="4">
            <mat-card>
                <app-g-pie [nro_encuestados_ciclo]= "nro_encuestados_ciclo"></app-g-pie>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="4">
            <mat-card>
                <app-barra-conformidad [conformidadPorTangibilidad]= "conformidadPorTangibilidad"></app-barra-conformidad>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="4">
            <mat-card>
                <app-g-total [totalEncuestados]= "totalEncuestados"></app-g-total>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>