<div class="container">
    <h3>Nivel de Expectativa Por Pregunta</h3>
    <div style="height:200px;width:1200px;" class="chart-wrapper center">
        <mat-spinner style="margin:0 auto;" *ngIf="!loading"></mat-spinner>
        <canvas baseChart *ngIf="loading"
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [chartType]="barChartType">
        </canvas>
    </div>
</div>  
